<md-dialog aria-label="ProcedimientoRIPS">
    <md-dialog-content layout-margin layout-padding>
        <div flex="100">Datos para registro de procedimiento en RIPS</div>
        <md-input-container flex="25">
            <label>Grupo CUPS</label>
            <md-select required ng-model="data.GrupoCUPS" ng-init="grupoCUPSList
                = [
                        {value:'endodoncia', label: 'Endodoncia'},
                        {value:'operatoria', label: 'Operatoria'},
                        {value:'ortodoncia-ortopedia', label: 'Ortopedia, Ortodoncia, y otros procedimientos oclusales no restauradores'},
                        {value:'periodoncia-cirugia-oral-maxilofacial-1', label: 'Periodoncia, Cirugía Oral y Maxilofacial (1)'},
                        {value:'periodoncia-cirugia-oral-maxilofacial-2', label: 'Periodoncia, Cirugía Oral y Maxilofacial (2)'},
                        {value:'periodoncia-cirugia-oral-maxilofacial-3', label: 'Periodoncia, Cirugía Oral y Maxilofacial (3)'},
                        {value:'promocion-prevencion',  label: 'Promoción de salud y Prevención de enfermedades'},
                        {value:'protesis',  label: 'Prótesis'},
                        {value:'radiologia',  label: 'Radiología'},
                        {value:'consultas',  label: 'Consultas'},
                        {value:'laboratorios-exames-analisis',  label: 'Laboratorios - Examenes y Análisis (1)'},
                        {value:'laboratorios-exames-analisis-2',  label: 'Laboratorios - Examenes y Análisis (2)'},
                        {value:'urgencias',  label: 'Urgencias'},
                        {value:'otros',  label: 'Otros Códigos'}
                    ]">
                <md-option ng-repeat="item in grupoCUPSList" ng-value="item.value" ng-if="!item.disabled">
                    {{item.label}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="25">
            <label>Código de procedimiento</label>
            <md-select required ng-model="data.CUPSRIPS" ng-init="CUPSList
                = [
                    {group:'endodoncia', value:'237101', label:'237101 PULPOTOMÍA NCOC'},
                    {group:'endodoncia', value:'237102', label:'237102 PULPOTOMÍA CON PULPECTOMIA'},
                    {group:'endodoncia', value:'237200', label:'237200 APEXIFICACIÓN O APEXOGENESIS  '},
                    {group:'endodoncia', value:'237301', label:'237301 TERAPIA DE CONDUCTO RADICULAR EN DIENTES UNIRRADICULARES PERMANENTES'},
                    {group:'endodoncia', value:'237302', label:'237302 TERAPIA DE CONDUCTO RADICULAR EN DIENTES BIRRADICULARES PERMANENTES'},
                    {group:'endodoncia', value:'237303', label:'237303 TERAPIA DE CONDUCTO RADICULAR EN DIENTES MULTIRRADICULARES PERMANENTES'},
                    {group:'endodoncia', value:'237304', label:'237304 TERAPIA DE CONDUCTO RADICULAR EN DIENTES TEMPORALES, UNIRRADICULARES'},
                    {group:'endodoncia', value:'237305', label:'237305 TERAPIA DE CONDUCTO RADICULAR EN DIENTES TEMPORALES, MULTIRRADICULARES'},
                    {group:'endodoncia', value:'237501', label:'237501 PROCEDIMIENTO CORRECTIVO EN RESORCION RADICULAR (INTERNA Y EXTERNA)'},
                    {group:'endodoncia', value:'237503', label:'237503 RECUBRIMIENTO PULPAR DIRECTO'},
                    {group:'endodoncia', value:'237504', label:'237504 RECUBRIMIENTO PULPAR INDIRECTO'},
                    {group:'endodoncia', value:'237505', label:'237505 PRUEBAS DE VITALIDAD PULPAR'},
                    {group:'operatoria', value:'232101', label:'232101 OBTURACIÓN DENTAL POR SUPERFICIE,  CON  AMALGAMA'},
                    {group:'operatoria', value:'232102', label:'232102 OBTURACIÓN DENTAL POR SUPERFICIE, CON  RESINA DE FOTOCURADO'},
                    {group:'operatoria', value:'232103', label:'232103 OBTURACIÓN DENTAL POR SUPERFICIE, CON  IONÓMERO DE VIDRIO'},
                    {group:'operatoria', value:'232200', label:'232200 OBTURACION TEMPORAL POR DIENTE  '},
                    {group:'operatoria', value:'232300', label:'232300 COLOCACIÓN DE PIN MILIMÉTRICO  '},
                    {group:'operatoria', value:'232401', label:'232401 RECONSTRUCCIÓN DE ÁNGULO INCISAL, CON RESINA DE FOTOCURADO'},
                    {group:'operatoria', value:'232402', label:'232402 RECONSTRUCCIÓN  TERCIO INCISAL, CON RESINA DE FOTOCURADO'},
                    {group:'operatoria', value:'233100', label:'233100 RESTAURACION DE  DIENTES MEDIANTE INCRUSTACION METALICA  '},
                    {group:'operatoria', value:'233200', label:'233200 RESTAURACION DE  DIENTES MEDIANTE INCRUSTACION NO  METALICA  '},
                    {group:'operatoria', value:'234101', label:'234101 COLOCACION O APLICACIÓN DE CORONA EN ACERO INOXIDABLE ( PARA DIENTES TEMPORALES)'},
                    {group:'operatoria', value:'234102', label:'234102 COLOCACION O APLICACIÓN DE CORONA EN POLICARBOXILATO  (PARA DIENTES TEMPORALES)'},
                    {group:'operatoria', value:'234103', label:'234103 COLOCACION O APLICACIÓN DE CORONA EN FORMA PLÁSTICA'},
                    {group:'operatoria', value:'234104', label:'234104 COLOCACION O APLICACIÓN DE CORONA ACRÍLICA TERMOCURADA'},
                    {group:'operatoria', value:'237901', label:'237901 BLANQUEAMIENTO DENTAL [INTRINSECO] POR CAUSAS ENDODONTICAS (POR DIENTE)'},
                    {group:'ortodoncia-ortopedia', value:'240500', label:'240500 ADAPTACION DE PLACA NEURO MIORELAJANTE  '},
                    {group:'ortodoncia-ortopedia', value:'247100', label:'247100 COLOCACIÓN DE APARATOLOGÍA  FIJA PARA ORTODONCIA (ARCADA)  '},
                    {group:'ortodoncia-ortopedia', value:'247201', label:'247201 COLOCACIÓN DE APARATOLOGÍA REMOVIBLE INTRAORAL PARA  ORTODONCIA  (ARCADA)'},
                    {group:'ortodoncia-ortopedia', value:'247202', label:'247202 COLOCACIÓN DE APARATOLOGÍA REMOVIBLE  EXTRAORAL PARA  ORTODONCIA  (ARCADA)'},
                    {group:'ortodoncia-ortopedia', value:'247300', label:'247300 COLOCACION DE APARATOS DE RETENCION  '},
                    {group:'ortodoncia-ortopedia', value:'248100', label:'248100 CIERRE DE DIASTEMA (ALVEOLAR,  DENTAL)  '},
                    {group:'ortodoncia-ortopedia', value:'248200', label:'248200 AJUSTAMIENTO OCLUSAL  '},
                    {group:'ortodoncia-ortopedia', value:'248400', label:'248400 REPARACIÓN DE APARATOLOGIA FIJA O REMOVIBLE  '},
                    {group:'ortodoncia-ortopedia', value:'248800', label:'248800 MASCARA FACIAL TERAPEUTICA NCOC'},
                    {group:'ortodoncia-ortopedia', value:'893106', label:'893106 CONTROL DE ORTODONCIA FIJA, REMOVIBLE  O TRATAMIENTO ORTOPÉDICO FUNCIONAL  Y  MECÁNICO'},
                    {group:'ortodoncia-ortopedia', value:'893107', label:'893107 ELABORACIÓN Y ADAPTACIÓN DE APARATO ORTOPEDICO'},
                    {group:'ortodoncia-ortopedia', value:'893108', label:'893108 SESION DE CONTROL DE CRECIMIENTO Y DESARROLLO DENTO-MAXILOFACIAL'},
                    {group:'ortodoncia-ortopedia', value:'935500', label:'935500 APLICACIÓN DE ALAMBRE DENTAL  '},
                    {group:'ortodoncia-ortopedia', value:'973400', label:'973400 EXTRACCION DE  APARATOLOGIA ORTODONTICA FIJA  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'230101', label:'230101 EXODONCIA DE DIENTES PERMANENTES UNIRRADICULARES.'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'230102', label:'230102 EXODONCIA DE DIENTES PERMANENTES MULTIRRADICULARES.'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'230201', label:'230201 EXODONCIA DE DIENTES TEMPORALES UNIRRADICULARES.'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'230202', label:'230202 EXODONCIA DE DIENTES TEMPORALES MULTIRRADICULARES.'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'231100', label:'231100 EXODONCIA QUIRURGICA UNIRRADICULAR  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'231200', label:'231200 EXODONCIA QUIRURGICA MULTIRRADICULAR.  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'231301', label:'231301 EXODONCIA DE DIENTE  INCLUIDO'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'231302', label:'231302 EXODONCIA DE INCLUIDOS EN POSICIÓN ECTÓPICA CON ABORDAJE INTRAORAL   (POR DIENTE)'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'231303', label:'231303 EXODONCIA DE INCLUIDOS EN POSICIÓN ECTÓPICA CON ABORDAJE EXTRAORAL(POR DIENTE)'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'231400', label:'231400 EXODONCIAS  MÚLTIPLES CON ALVEOLOPLASTIA, POR CUADRANTE  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'231500', label:'231500 COLGAJO DESPLAZADO PARA ABORDAJE DE DIENTE RETENIDO (VENTANA QUIRURGICA)  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'236300', label:'236300 IMPLANTE DENTAL ALOPLASTICO (OSEOINTEGRACION)  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'237401', label:'237401 CURETAJE APICAL CON APICECTOMIA Y OBTURACION RETROGADA [CIRUGIA PERIRRADICULAR]'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'237601', label:'237601 FISTULIZACION QUIRURGICA POR TREPANACION Y DRENAJE'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'237602', label:'237602 FISTULIZACION QUIRURGICA POR INCISION'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'242204', label:'242204 AUMENTO DE REBORDE PARCIALMENTE EDENTULO ( SIN MATERIAL)'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'242205', label:'242205 AUMENTO DE REBORDE PARCIALMENTE EDENTULO ( CON MATERIAL)'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'242300', label:'242300 PLASTIAS PREPROTESICAS ( AUMENTO DE CORONA CLINICA )  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'242400', label:'242400 REPARACION O PLASTIA PERIODONTAL REGENERATIVA ( INJERTOS , MEMBRANAS )  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'243101', label:'243101 EXTIRPACIÓN DE LESIÓN BENIGNA ENCAPSULADA EN ENCÍA HASTA DE TRES CENTÍMETROS'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'243400', label:'243400 GINGIVECTOMIA  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'244101', label:'244101 ENUCLEACIÓN DE QUISTE (ODONTOGÉNICO O NO ODONTOGÉNICO) HASTA DE  TRES CENTÍMETROS DE DIÁMETRO'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'244102', label:'244102 ENUCLEACIÓN DE QUISTE (ODONTOGÉNICO O NO ODONTOGÉNICO) DE MÁS DE TRES CENTÍMETROS DE DIÁMETRO'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'244103', label:'244103 RESECCIÓN DE TUMOR BENIGNO  O MALIGNO ODONTOGÉNICO'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'245100', label:'245100 REGULARIZACIÓN DE REBORDES POR CUADRANTE  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'245200', label:'245200 ALVEOLECTOMÍA (INTERRADICULAR, INTRASEPTAL, RADICAL, SIMPLE, CON INJERTO O IMPLANTE) NCOC'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'247401', label:'247401 FERULIZACION RIGIDA ( SUPERIOR Y/O INFERIOR)'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'247402', label:'247402 FERULIZACION SEMIRIGIDA ( SUPERIOR Y/O INFERIOR)'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'249101', label:'249101 CONTROL DE HEMORRAGIA DENTAL POS QUIRURGICA  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'250201', label:'250201 BIOPSIA EN CUÑA O POR TRUCUT DE LENGUA'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'251000', label:'251000 RESECCIÓN DE LESIÓN SUPERFICIAL EN LA LENGUA  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'255100', label:'255100 SUTURA DE LACERACIÓN DE LENGUA (GLOSORRAFIA)  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'261201', label:'261201 BIOPSIA ESCIONAL DE GLANDULA SALIVAR MENOR  (CON CONDUCTO SALIVAL)'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'262901', label:'262901 RESECCIÓN DE MUCOCELE DE GLANDULA SALIVAL'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'272301', label:'272301 BIOPSIA INCISIONAL DE LABIO'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'272302', label:'272302 BIOPSIA ESCISIONAL DE LABIO'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'274100', label:'274100 FRENILLECTOMIA LABIAL NCOC'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'274301', label:'274301 RESECCIÓN DE LESIÓN BENIGNA DE LA MUCOSA ORAL ,HASTA DE DOS CENTIMETROS DE DIÁMETRO'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'274302', label:'274302 RESECCIÓN DE LESIÓN BENIGNA DE LA MUCOSA ORAL,  MAYOR DE  DOS CENTIMETROS DE DIÁMETRO'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'274901', label:'274901 REMOCIÓN DE CUERPO EXTRAÑO EN TEJIDOS BLANDOS DE LA BOCA'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'274902', label:'274902 RESECCION  DE BRIDAS INTRAORALES'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'275101', label:'275101 SUTURA O REPARACIÓN DE HERIDA HASTA DE CINCO CENTÍMETROS EN  LABIOS'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'275102', label:'275102 SUTURA O REPARACIÓN DE HERIDA DE MÁS DE CINCO CENTÍMETROS EN  LABIOS'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'275801', label:'275801 PROFUNDIZACION O DESCENSO DE PISO DE BOCA CON DESINSERCION DE MILOHIODEO Y/O GENIHIODEO'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'275901', label:'275901 PROFUNDIZACION  DE SURCO VESTIBULAR CON INJERTO MUCOSO'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'767705', label:'767705 REDUCCION Y FIJACION DE LUXACION  DENTO ALVEOLAR QUE COMPROMETE HASTA TRES DIENTES'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'767706', label:'767706 REDUCCION Y FIJACION DE LUXACION DENTO ALVEOLAR QUE COMPROMETE MAS DE TRES DIENTES'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'240200', label:'240200 DETARTRAJE SUBGINGIVAL  (POR CUADRANTE)  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'240300', label:'240300 ALISADO RADICULAR, CAMPO CERRADO ( POR SEXTANTE )  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-1', value:'242201', label:'242201 CURETAJE A CAMPO ABIERTO POR SEXTANTE'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'227101', label:'227101 REPARACION DE FISTULA  OROANTRAL Y/U ORONASAL'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'227200', label:'227200 ELEVACION DEL PISO DEL SENO MAXILAR  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'230201', label:'230201 EXODONCIA DE DIENTES TEMPORALES UNIRRADICULARES'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'230202', label:'230202 EXODONCIA DE DIENTES TEMPORALES MULTIRRADICULARES'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'235100', label:'235100 REIMPLANTE DE DIENTE  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'235200', label:'235200 TRANSPLANTE DE DIENTE ( INTENCIONAL)  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'237701', label:'237701 RADECTOMIA (AMPUTACIÓN RADICULAR) UNICA'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'237702', label:'237702 RADECTOMIA (AMPUTACIÓN RADICULAR) MULTIPLE'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'237800', label:'237800 HEMISECCION DEL DIENTE  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'237902', label:'237902 EXPLORACION Y MOVILIZACION  DE NERVIO DENTARIO INFERIOR'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'240100', label:'240100 OPERCULECTOMÍA NCOC'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'240600', label:'240600 DRENAJE DE ABSCESOS PERIODONTALES  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'241101', label:'241101 BIOPSIA  INCISIONAL DE ENCÍA'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'241102', label:'241102 BIOPSIA ESCISIONAL DE ENCÍA  CON CIERRE PRIMARIO'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'241103', label:'241103 BIOPSIA  ESCISIONAL DE ENCÍA Y RECUBRIMIENTO CON COLGAJO O INJERTO'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'241200', label:'241200 BIOPSIA DE ALVEÓLO  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'242101', label:'242101 PLASTIA MUCOGINGIVAL CON INJERTOS PEDICULADOS ( COLGAJOS PEDICULADOS )'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'242102', label:'242102 PLASTIA MUCOGINGIVAL CON INJERTO GINGIVAL LIBRE (CADA DIENTE)'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'242202', label:'242202 CIRUGIA A COLGAJO CON RESECCION RADICULAR ( AMPUTACION, HEMISECCION )'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'243102', label:'243102 EXTIRPACIÓN DE LESIÓN BENIGNA ENCAPSULADA EN ENCÍA DE MÁS DE TRES CENTÍMETROS'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'243103', label:'243103 EXTIRPACIÓN DE LESIÓN BENIGNA NO ENCAPSULADA EN ENCÍA HASTA DE TRES CENTÍMETROS'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'243104', label:'243104 EXTIRPACIÓN DE LESIÓN BENIGNA NO ENCAPSULADA EN ENCÍA DE MÁS DE TRES CENTÍMETROS'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'243201', label:'243201 SUTURA DE LACERACIÓN DE ENCÍA, MENOR DE TRES CENTIMETROS'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'243202', label:'243202 SUTURA DE LACERACIÓN DE ENCÍA, MAYOR DE TRES CENTIMETROS'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'243301', label:'243301 ENUCLEACIÓN DE QUISTE EPIDERMOIDE, VÍA INTRAORAL'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'244108', label:'244108 MARSUPIALIZACION DE QUISTE ODONTOGÉNICO O NO ODONTOGENICO'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'250100', label:'250100 BIOPSIA CERRADA [PUNCION] [ASPIRACION CON AGUJA FINA] DE LENGUA  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'250202', label:'250202 BIOPSIA INCISIONAL DE LENGUA'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'250203', label:'250203 BIOPSIA ESCISIONAL DE LENGUA'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'251100', label:'251100 RESECCIÓN DE LESIÓN PROFUNDA EN LA LENGUA  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'256100', label:'256100 FRENILLECTOMÍA LINGUAL NCOC'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'260100', label:'260100 SIALOLITOTOMÍA  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'260300', label:'260300 DRENAJE DE GLÁNDULA SALIVAL  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'262101', label:'262101 MARSUPIALIZACIÓN DE LA RÁNULA'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'263206', label:'263206 SIALOADENECTOMIA  DE GLANDULAS SALIVALES MENORES'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'270101', label:'270101 INCISIÓN Y DRENAJE INTRAORAL EN CAVIDAD BUCAL'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'270102', label:'270102 INCISIÓN Y DRENAJE EXTRAORAL EN CAVIDAD BUCAL'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'272101', label:'272101 BIOPSIA DE UVULA'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'272102', label:'272102 BIOPSIA INCISIONAL DE PALADAR'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'272103', label:'272103 BIOPSIA ESCISIONAL DE PALADAR'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'272401', label:'272401 BIOPSIA DE PARED DE CAVIDAD BUCAL, INCISIONAL O ESCISIONAL'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'272402', label:'272402 BIOPSIA POR ASPIRACION CON AGUJA FINA EN CAVIDAD ORAL [BACAF]'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'273101', label:'273101 EXTIRPACIÓN DE LESIÓN SUPERFICIAL DE PALADAR'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'273201', label:'273201 EXTIRPACIÓN DE LESIÓN PROFUNDA DE PALADAR'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'275201', label:'275201 ESTOMATORRAFIA (SUTURA DE HERIDA EN MUCOSA ORAL)   DE MENOS DE CINCO CENTIMETROS'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'275202', label:'275202 ESTOMATORRAFIA (SUTURA DE HERIDA EN MUCOSA ORAL)   DE MAS DE CINCO CENTIMETROS'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'275301', label:'275301 RESECCIÓN INTRAORAL DE FÍSTULA DE BOCA'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'275302', label:'275302 RESECCIÓN EXTRAORAL DE FÍSTULA DE BOCA'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'275303', label:'275303 CIERRE DE FÍSTULA OROSINUSAL U ORONASAL, CON COLGAJO PALATINO, LINGUAL O BUCAL'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'275304', label:'275304 CIERRE DE FÍSTULA OROSINUSAL CON SINUSOTOMIA, CON O SIN REMOCIÓN DE CUERPO  EXTRAÑO O COLGAJO PALATINO, LINGUAL O BUCAL'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'276201', label:'276201 CORRECCION DE HENDIDURA ALVEOLOPALATINA'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'276202', label:'276202 CIERRE DE HENDIDURA ALVEOLAR CON INJERTO'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'276203', label:'276203 CIERRE DE HENDIDURA ALVEOLAR SIN INJERTO'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'276300', label:'276300 REVISIÓN DE REPARACIÓN DE PALADAR FISURADO NCOC'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'278200', label:'278200 INCISIÓN DE CAVIDAD BUCAL, ESTRUCTURA NO ESPECIFICADA  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'768110', label:'768110 INJERTO ÓSEO AUTÓLOGO POR REBORDE ALVEOLAR'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'768111', label:'768111 INJERTO ÓSEO HETEROLOGO POR REBORDE ALVEOLAR'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'768301', label:'768301 REDUCCION CERRADA LUXACION ARTICULACION TEMPORO MANDIBULAR'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'768302', label:'768302 REDUCCION CERRADA LUXACION ARTICULACION TEMPORO MANDIBULAR CON FIJACION INTERMAXILAR'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'768702', label:'768702 RETIRO DE CERCLAJE INTER O INTRA MAXILAR'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'973300', label:'973300 EXTRACCION DE FERULAS DENTALES  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-2', value:'973600', label:'973600 EXTRACCION DE OTRO DISPOSITIVO DE FIJACION MANDIBULAR EXTERNA'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-3', value:'243105', label:'243105 EXTIRPACIÓN DE LESIÓN MALIGNA DE ENCÍA SIN VACIAMIENTO GANGLIONAR NI RESECCION DE ESTRUCTURAS VECINAS U OSEAS'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-3', value:'243302', label:'243302 ENUCLEACIÓN DE QUISTE EPIDERMOIDE, VÍA EXTRAORAL'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-3', value:'244104', label:'244104 RESECCIÓN DE TUMOR BENIGNO O MALIGNO ODONTOGÉNICO Y RECONSTRUCCIÓN INMEDIATA CON INJERTO ÓSEO LIBRE'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-3', value:'244105', label:'244105 RESECCIÓN DE TUMOR BENIGNO O MALIGNO ODONTOGÉNICO Y RECONSTRUCCION CON COLGAJO ÓSEO PEDICULADO'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-3', value:'244106', label:'244106 RESECCIÓN DE TUMOR BENIGNO O MALIGNO ODONTOGÉNICO Y RECONSTRUCCION CON COLGAJO ÓSEO LIBRE'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-3', value:'244107', label:'244107 RESECCIÓN DE TUMOR BENIGNO O MALIGNO ODONTOGÉNICO Y RECONSTRUCCION CON PLACA'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-3', value:'255902', label:'255902 GLOSOPEXIA'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-3', value:'256301', label:'256301 DRENAJE DE ABSCESO EN LENGUA'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-3', value:'261100', label:'261100 BIOPSIA CERRADA [PUNCION]  [ASPIRACION CON AGUJA FINA] DE GLÁNDULA O CONDUCTO  SALIVAL  '},
                    {group:'periodoncia-cirugia-oral-maxilofacial-3', value:'264901', label:'264901 SIALOPLASTIA (REPARACIÓN DEL CONDUCTO)  SIN INJERTO'},
                    {group:'periodoncia-cirugia-oral-maxilofacial-3', value:'264902', label:'264902 SIALOPLASTIA (REPARACIÓN DEL CONDUCTO)  CON INJERTO'},
                    {group:'promocion-prevencion', value:'990103', label:'990103 SESION EDUCATIVA GRUPAL POR ODONTOLOGIA'},
                    {group:'promocion-prevencion', value:'990203', label:'990203 SESION EDUCATIVA INDIVIDUAL POR ODONTOLOGIA'},
                    {group:'promocion-prevencion', value:'990212', label:'990212 SESION EDUCATIVA INDIVIDUAL , POR HIGIENE ORAL'},
                    {group:'promocion-prevencion', value:'997101', label:'997101 APLICACIÓN DE SELLANTES DE AUTOCURADO'},
                    {group:'promocion-prevencion', value:'997102', label:'997102 APLICACIÓN DE SELLANTES DE FOTOCURADO'},
                    {group:'promocion-prevencion', value:'997103', label:'997103 TOPICACION DE FLUOR EN GEL'},
                    {group:'promocion-prevencion', value:'997104', label:'997104 TOPICACION DE FLUOR EN SOLUCION'},
                    {group:'promocion-prevencion', value:'997105', label:'997105 APLICACIÓN DE RESINA PREVENTIVA'},
                    {group:'promocion-prevencion', value:'997106', label:'997106 APLICACIÓN DE RESINA PREVENTIVA MÁS SELLANTE'},
                    {group:'promocion-prevencion', value:'997300', label:'997300 CONTROL DE PLACA DENTAL NCOC'},
                    {group:'promocion-prevencion', value:'997301', label:'997301 DETARTRAJE SUPRAGINGIVAL'},
                    {group:'promocion-prevencion', value:'997500', label:'997500 PROFILAXIS DENTAL  '},
                    {group:'protesis', value:'234201', label:'234201 COLOCACION O INSERCIÓN DE  PRÓTESIS FIJA CADA UNIDAD (PILAR Y PÓNTICOS)'},
                    {group:'protesis', value:'234202', label:'234202 RECONSTRUCCIÓN DE MUÑONES'},
                    {group:'protesis', value:'234203', label:'234203 PERNO O PATRÓN DE NÚCLEO'},
                    {group:'protesis', value:'234204', label:'234204 REPARACION DE PROTESIS FIJA'},
                    {group:'protesis', value:'234301', label:'234301 COLOCACION O  INSERCIÓN DE PRÓTESIS REMOVIBLE (SUPERIOR O INFERIOR) MUCOSOPORTADA'},
                    {group:'protesis', value:'234302', label:'234302 COLOCACION O INSERCIÓN DE PRÓTESIS REMOVIBLE (SUPERIOR O INFERIOR) DENTOMUCOSOPORTADA'},
                    {group:'protesis', value:'234303', label:'234303 REPARACION DE PROTESIS REMOVIBLE'},
                    {group:'protesis', value:'234401', label:'234401 COLOCACION O  INSERCIÓN DE PRÓTESIS TOTAL MEDIO CASO (SUPERIOR O INFERIOR)'},
                    {group:'protesis', value:'234402', label:'234402 COLOCACION O INSERCIÓN DE PRÓTESIS TOTAL (SUPERIOR E INFERIOR)'},
                    {group:'protesis', value:'973500', label:'973500 EXTRACCION DE PROTESIS DENTAL  '},
                    {group:'radiologia', value:'870001', label:'870001 RADIOGRAFIA DE CRANEO SIMPLE'},
                    {group:'radiologia', value:'870002', label:'870002 PERFILOGRAMA PARA CEFALOMETRIA'},
                    {group:'radiologia', value:'870003', label:'870003 RADIOGRAFIA DE BASE DE CRANEO'},
                    {group:'radiologia', value:'870101', label:'870101 RADIOGRAFIA DE CARA'},
                    {group:'radiologia', value:'870102', label:'870102 RADIOGRAFIA DE ORBITAS'},
                    {group:'radiologia', value:'870104', label:'870104 RADIOGRAFIA DE MALAR'},
                    {group:'radiologia', value:'870112', label:'870112 RADIOGRAFIA DE MAXILAR SUPERIOR'},
                    {group:'radiologia', value:'870113', label:'870113 RADIOGRAFIA DE MAXILAR INFERIOR'},
                    {group:'radiologia', value:'870114', label:'870114 RADIOGRAFIA PANORAMICA DE MAXILARES, SUPERIOR E INFERIOR (ORTOPANTOMOGRAFIA)'},
                    {group:'radiologia', value:'870120', label:'870120 RADIOGRAFIA SUBMENTONIANA-VERTICAL'},
                    {group:'radiologia', value:'870130', label:'870130 RADIOGRAFIA DE PERFIL DE CARA'},
                    {group:'radiologia', value:'870131', label:'870131 RADIOGRAFIA DE ARTICULACION TEMPOROMAXILAR (ATM)'},
                    {group:'radiologia', value:'870440', label:'870440 RADIOGRAFIAS INTRAORALES OCLUSALES'},
                    {group:'radiologia', value:'870450', label:'870450 RADIOGRAFIAS INTRAORALES PERIAPICALES MILIMETRADAS'},
                    {group:'radiologia', value:'870451', label:'870451 RADIOGRAFIAS INTRAORALES PERIAPICALES DIENTES ANTERIORES SUPERIORES'},
                    {group:'radiologia', value:'870452', label:'870452 RADIOGRAFIAS INTRAORALES PERIAPICALES DIENTES ANTERIORES INFERIORES'},
                    {group:'radiologia', value:'870453', label:'870453 RADIOGRAFIAS INTRAORALES PERIAPICALES  ZONA DE CANINOS'},
                    {group:'radiologia', value:'870454', label:'870454 RADIOGRAFIAS INTRAORALES PERIAPICALES PREMOLARES'},
                    {group:'radiologia', value:'870455', label:'870455 RADIOGRAFIAS INTRAORALES PERIAPICALES MOLARES'},
                    {group:'radiologia', value:'870456', label:'870456 RADIOGRAFIAS INTRAORALES PERIAPICALES JUEGO COMPLETO'},
                    {group:'radiologia', value:'870460', label:'870460 RADIOGRAFIAS INTRAORALES CORONALES'},
                    {group:'consultas', value:'890203', label:'890203 CONSULTA DE PRIMERA VEZ POR ODONTOLOGIA GENERAL'},
                    {group:'consultas', value:'890204', label:'890204 CONSULTA DE PRIMERA VEZ POR ODONTOLOGIA ESPECIALIZADA'},
                    {group:'consultas', value:'890303', label:'890303 CONSULTA DE CONTROL O DE SEGUIMIENTO DE PROGRAMA POR ODONTOLOGIA GENERAL'},
                    {group:'consultas', value:'890304', label:'890304 CONSULTA DE  CONTROL O SEGUIMIENTO DE PROGRAMA POR ODONTOLOGIA ESPECIALIZADA'},
                    {group:'consultas', value:'890401', label:'890401 INTERCONSULTA AMBULATORIA'},
                    {group:'consultas', value:'890402', label:'890402 INTERCONSULTA INTRAHOSPITALARIA'},
                    {group:'consultas', value:'890503', label:'890503 PARTICIPACION EN JUNTA MEDICA, POR OTRO PROFESIONAL DE LA SALUD'},
                    {group:'consultas', value:'893100', label:'893100 EXAMEN  O RECONOCIMIENTO DE MUCOSA ORAL Y PERIODONTAL'},
                    {group:'consultas', value:'893101', label:'893101 IMPRESION DE ARCO DENTARIO SUPERIOR O  INFERIOR, CON MODELO DE ESTUDIO Y CONCEPTO'},
                    {group:'consultas', value:'893102', label:'893102 FOTOGRAFIA CLINICA EXTRAORAL, INTRAORAL , FRONTAL O LATERAL'},
                    {group:'consultas', value:'893103', label:'893103 EVALUACIÓN Y MEDICION  ORTODONTICA Y ORTOPEDICA ORAL'},
                    {group:'consultas', value:'893104', label:'893104 ESTUDIO DE OCLUSION Y  ARTICULACION TEMPOROMANDIBULAR'},
                    {group:'consultas', value:'893105', label:'893105 MASCARA FACIAL  DIAGNOSTICA'},
                    {group:'consultas', value:'893109', label:'893109 ANESTESIA LOCAL NO ASOCIADA CON OTROS PROCEDIMIENTOS'},
                    {group:'laboratorios-exames-analisis', value:'269301', label:'269301 CATETERIZACIÓN Y SIALOMETRÍA'},
                    {group:'laboratorios-exames-analisis', value:'899001', label:'899001 BIOPSIA CON COLORACION BASICA (RUTINA)'},
                    {group:'laboratorios-exames-analisis', value:'899204', label:'899204 CITOLOGIA ORAL'},
                    {group:'laboratorios-exames-analisis', value:'901001', label:'901001 ANTIBIOGRAMA (DISCO)'},
                    {group:'laboratorios-exames-analisis', value:'901004', label:'901004 HONGOS, PRUEBAS DE SENSIBILIDAD'},
                    {group:'laboratorios-exames-analisis', value:'901005', label:'901005 Mycobacterium, PRUEBAS DE SENSIBILIDAD'},
                    {group:'laboratorios-exames-analisis', value:'901006', label:'901006 Neisseria gonorrhoeae, PRUEBA SE SUSCEPTIBILIDAD'},
                    {group:'laboratorios-exames-analisis', value:'901101', label:'901101 COLORACIÓN ÁCIDO ALCOHOL RESISTENTE MODIFICADA Y LECTURA'},
                    {group:'laboratorios-exames-analisis', value:'901102', label:'901102 COLORACIÓN DE ALBERT [LOEFFLER] Y LECTURA'},
                    {group:'laboratorios-exames-analisis', value:'901103', label:'901103 COLORACIÓN DE AZUL DE METILENO Y LECTURA PARA CUALQUIER MUESTRA'},
                    {group:'laboratorios-exames-analisis', value:'901104', label:'901104 COLORACIÓN DE GRAM Y LECTURA PARA CUALQUIER MUESTRA'},
                    {group:'laboratorios-exames-analisis', value:'901105', label:'901105 COLORACIÓN PARA ACIDO ALCOHOL RESISTENTE [ZIELH-NIELSEN] Y LECTURA O BACILOSCOPIA'},
                    {group:'laboratorios-exames-analisis', value:'901108', label:'901108 COLORACIÓN TRICRÓMICA MODIFICADA Y LECTURA'},
                    {group:'laboratorios-exames-analisis', value:'901110', label:'901110 Coloración Metenamina de Gomoris'},
                    {group:'laboratorios-exames-analisis', value:'901111', label:'901111 Coloración Gomorry para retículo'},
                    {group:'laboratorios-exames-analisis', value:'901112', label:'901112 Coloración tricrómico de Mason'},
                    {group:'laboratorios-exames-analisis', value:'901113', label:'901113 Coloración de Mucina'},
                    {group:'laboratorios-exames-analisis', value:'901201', label:'901201 Actinomyces, CULTIVO HONGOS'},
                    {group:'laboratorios-exames-analisis', value:'901207', label:'901207 Corynebacterium difteriae, CULTIVO'},
                    {group:'laboratorios-exames-analisis', value:'901209', label:'901209 CULTIVO DE LÍQUIDOS CORPORALES: BILIS, L.C.R, PERITONEAL, PLEURAL, ASCÍTICO, SINOVIAL, OTROS DIFERENTE A ORINA.'},
                    {group:'laboratorios-exames-analisis', value:'901214', label:'901214 CULTIVO PARA MICROORGANISMOS EN CUALQUIER MUESTRA DIFERENTE A MEDULA OSEA, ORINA Y HECES'},
                    {group:'laboratorios-exames-analisis', value:'901215', label:'901215 CULTIVO DE ANAEROBIOS DE CUALQUIER MUESTRA DIFERENTE A MEDULA OSEA'},
                    {group:'laboratorios-exames-analisis', value:'901216', label:'901216 CULTIVO ESPECIALES PARA OTROS MICROORGANISMOS'},
                    {group:'laboratorios-exames-analisis', value:'901217', label:'901217 CULTIVO DE HONGOS MICOSIS PROFUNDA'},
                    {group:'laboratorios-exames-analisis', value:'901218', label:'901218 CULTIVO DE HONGOS MICOSIS SUPERFICIAL'},
                    {group:'laboratorios-exames-analisis', value:'901219', label:'901219 CULTIVO DE PATOGENOS FACULTATIVOS DE LESIONES ORALES'},
                    {group:'laboratorios-exames-analisis-2', value:'901220', label:'901220 CULTIVO DE PATOGENOS DE BOLSAS PERIODONTALES'},
                    {group:'laboratorios-exames-analisis-2', value:'905730', label:'905730 MERCURIO EN CABELLO Y SANGRE'},
                    {group:'laboratorios-exames-analisis-2', value:'905731', label:'905731 MERCURIO EN ORINA DE 24H'},
                    {group:'laboratorios-exames-analisis-2', value:'905732', label:'905732 PRUEBA DE SNYDER EN SALIVA'},
                    {group:'laboratorios-exames-analisis-2', value:'905733', label:'905733 ESTUDIO SALIVAR COMPLETO'},
                    {group:'laboratorios-exames-analisis-2', value:'905734', label:'905734 DETERMIANCION DEL pH SALIVAR'},
                    {group:'laboratorios-exames-analisis-2', value:'905735', label:'905735 DETERMINACION DE LA CAPACIDAD AMORTIGUADORA SALIVAR'},
                    {group:'laboratorios-exames-analisis-2', value:'905736', label:'905736 TASA DE SECRECION SALIVAR'},
                    {group:'laboratorios-exames-analisis-2', value:'905737', label:'905737 RECUENTO DE S. DEL GRUPO MUTANS'},
                    {group:'laboratorios-exames-analisis-2', value:'905738', label:'905738 RECUENTO DE LACTOBACILLUS SP'},
                    {group:'laboratorios-exames-analisis-2', value:'905739', label:'905739 RECUENTO DE CANDIDA SP'},
                    {group:'laboratorios-exames-analisis-2', value:'905740', label:'905740 ESTUDIO DE MICROORGANISMOS CARIOGENICOS EN PLACA DENTAL'},
                    {group:'laboratorios-exames-analisis-2', value:'905741', label:'905741 RECUENTO DE S. DEL GRUPO MUTANS EN PLACA DENTAL'},
                    {group:'laboratorios-exames-analisis-2', value:'905742', label:'905742 RECUENTO DE LACTOBACILLUS SP EN PLACA DENTAL'},
                    {group:'laboratorios-exames-analisis-2', value:'905743', label:'905743 CAPACIDAD ACIDOGENICA DE LA PLACA DENTAL'},
                    {group:'laboratorios-exames-analisis-2', value:'A51105', label:'A51105 DETERMINACION DE MANGANESO, YODO Y FLUOR EN AGUA Y MUESTRAS BIOLÓGICAS'},
                    {group:'laboratorios-exames-analisis-2', value:'A51107', label:'A51107 Medición de la concentración de Flúor en muestras de bebidas, comidas sólidas, cremas dentales, soluciones recuperadas, soluciones fluoruradas y uñas'},
                    {group:'laboratorios-exames-analisis-2', value:'A51108', label:'A51108 Medición de la concentración de Flúor en muestra de sal'},
                    {group:'laboratorios-exames-analisis-2', value:'A51109', label:'A51109 Medición de la concentración de Yodo en muestra de sal'},
                    {group:'laboratorios-exames-analisis-2', value:'A51110', label:'A51110 Medición de la concentración de Flúor en tejido calcificado'},
                    {group:'urgencias', value:'237502', label:'237502 PROCEDIMIENTOS CORRECTIVOS EN FRACTURAS RADICULARES'},
                    {group:'urgencias', value:'890703', label:'890703 CONSULTA DE URGENCIAS, POR ODONTOLOGIA GENERAL'},
                    {group:'urgencias', value:'890704', label:'890704 CONSULTA DE URGENCIAS, POR ODONTOLOGIA ESPECIALIZADA'},
                    {group:'urgencias', value:'271100', label:'271100 DRENAJE DE ABSCESO DE PALADAR  '},
                    {group:'otros', value:'999991', label:'999991 CITA NO CUMPLIDA'},
                    {group:'otros', value:'999999', label:'999999 EXCLUIDOS POR :OBSOLETOS, NO VIGENTES EN COLOMBIA, DESCONOCIDOS O POR SER CRITERIO EXCLUSIVAMENTE TARIFARIO'},
                    {group:'otros', value:'230201', label:'230201 EXODONCIA DE DIENTES TEMPORALES UNIRRADICULARES'},
                    {group:'otros', value:'230202', label:'230202 EXODONCIA DE DIENTES TEMPORALES MULTIRRADICULARES'}

                    ]">
                <md-option ng-repeat="item in CUPSList" ng-value="item.value" ng-if="item.group == data.GrupoCUPS">
                    {{item.label}}
                </md-option>
            </md-select>
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="closeDialog(data)" class="md-primary">Guardar</md-button>
    </md-dialog-actions>
</md-dialog>