<div menu></div>
<md-toolbar>
    <div class="md-toolbar-tools color14">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="TratamientosCtrl.menu.active = !TratamientosCtrl.menu.active">
            <md-tooltip md-direction="left">
                Menu
            </md-tooltip>
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
        <h2 class="md-title">Tratamientos {{TratamientosCtrl.paciente.PrimerNombre || TratamientosCtrl.paciente.SegundoNombre || TratamientosCtrl.paciente.PrimerApellido || TratamientosCtrl.paciente.SegundoApellido ?'-':''}} {{TratamientosCtrl.paciente.PrimerNombre}} {{TratamientosCtrl.paciente.SegundoNombre}}
            {{TratamientosCtrl.paciente.PrimerApellido}} {{TratamientosCtrl.paciente.SegundoApellido}}</h2>
        <div flex></div>
        <md-button class="md-raised" ng-click="TratamientosCtrl.openNewTab()">
            Nuevo Paciente
        </md-button>
    </div>
</md-toolbar>
<md-progress-linear md-mode="indeterminate" ng-hide="TratamientosCtrl.items !== null || TratamientosCtrl.error"></md-progress-linear>
<md-content class="md-default-theme" ng-show="TratamientosCtrl.items.length === 0 || TratamientosCtrl.error">
    <ui-view layout="column">
        <div layout="row" layout-align="center center" class="ng-scope">
            <div md-whiteframe="5" layout-margin flex-xs="100" flex-sm="100" flex-gt-sm="90" class="md-default-theme" md-colors="{background: 'grey-A100'}">
                <div-content ng-show="TratamientosCtrl.error">
                    Error: No se han obtenido datos
                </div-content>
                <div-content ng-show="TratamientosCtrl.items.length === 0">
                    No hay datos guardados
                </div-content>
            </div>
        </div>
    </ui-view>
</md-content>
<md-content class="md-default-theme" ng-show="TratamientosCtrl.items !== null && TratamientosCtrl.items.length !== 0 && !TratamientosCtrl.error">
        <div layout="row" layout-align="center center" class="ng-scope">
            <div md-whiteframe="5" layout-margin flex-xs="100" flex-sm="100" flex-gt-sm="50" class="md-default-theme" md-colors="{background: 'grey-A100'}"> 
                <div-content>
                    <md-table-container >
                        <table md-table>
                            <thead md-head>
                                <tr md-row>
                                    <th md-column>Nombre</th>
                                    <th md-column>Valor</th>
                                    <th md-column md-numeric>
                            <md-button class="md-icon-button" aria-label="Editar">
                                <i class="material-icons">settings</i>
                            </md-button>
                            </th>
                            </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="item in TratamientosCtrl.items| orderBy: item.categoria | limitTo: limit: (page - 1) * limit">
                                    <td md-cell>{{item.Nombre}}</td>
                                    <td md-cell>{{item.Valor}}</td>
                                    <td md-cell md-numeric>
                            <md-button class="md-icon-button" aria-label="Editar" ng-click="TratamientosCtrl.edit(item._id)">
                                <md-tooltip md-direction="left">
                                    Editar
                                </md-tooltip>
                                <md-icon class="material-icons">mode_edit</md-icon>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="Editar" ng-click="TratamientosCtrl.delete(item._id)">
                                <md-tooltip md-direction="left">
                                    Eliminar
                                </md-tooltip>
                                <md-icon class="material-icons">delete</md-icon>
                            </md-button>
                            </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <md-table-pagination md-limit="TratamientosCtrl.limit" md-page="TratamientosCtrl.page" md-total="{{TratamientosCtrl.items.length}}"></md-table-pagination>
                </div-content>
            </div>
        </div>
</md-content>
